@using EduZone.Models
@model List<Post>
<link href="~/Content/StyleSheet/time-line-for-dector.css" rel="stylesheet" />
@{
    ApplicationDbContext context = new ApplicationDbContext();
}
<main class="container my-3 pb-4">
    @using (Html.BeginForm("AddPost", "Educator", FormMethod.Post, new { @class = "mt-5" }))
    {
        <div class="timeline ">
            <div class="photo-name">
                <img class="photo-profile" src="~/Content/Images/doctor.jpg" alt="doctor" />
                <div class="info">
                    <h2 class="info-name">@User.Identity.Name</h2>
                </div>
            </div>
            @Html.AntiForgeryToken()
            <textarea class="m-3" name="ContentOfPost" id="ContentOfPost" placeholder="Write new announcement..."></textarea>
            <div class="line"></div>
            <div class="like-comment live-photo">
                <div> <a href=""> <i class="fa-solid fa-video "></i>  <span class="text-secondary ms-2">Live class</span> </a>  </div>
                <div> <a href=""> <i class="fa-solid fa-photo-film"></i> <span class="text-secondary ms-2">Photo/video</span> </a>   </div>
                <button type="submit" class="btn btn-outline-success"> POST </button>
            </div>
        </div>
    }

    <div id="ishere">

    </div>
    @foreach (var item in Model)
    {
        <link href="~/Content/StyleSheet/time-line-for-dector.css" rel="stylesheet" />
        <div class="timeline">
            <div class="photo-name">
                <img class="photo-profile" src="~/Content/Images/doctor.jpg" alt="photo" />
                <div class="info">
                    <h6 class="info-name"><a href=""> @item.UserName </a> </h6>
                    <p class="info-date"> @item.Date </p>
                </div>
            </div>
            <pre class="news news-ar">
                           @item.ContentOfPost
            </pre>
            <div class="line"></div>
            <div class="like-comment-p">
                <div class="like-comment">
                    <div> <a href="#"><i class="fa-solid fa-thumbs-up me-2"></i> <span class="text-secondary">Like</span> </a></div>
                    <div> <a href="#" class="comment-btn"><i class="fa-solid fa-message me-2"></i> <span class="text-secondary">Comment</span> </a></div>
                </div>
                <div class="number-like-comment">
                    @{
                        int numcom = context.Comments.Where(s => s.PostID == item.Id).Count();
                        int numLk = item.likes?.Count ?? 0;
                        //int numcom = item.Comments?.Count ?? 0;
                    }
                    <div><b>@numLk</b><span class="ms-2 text-secondary likes-span">Like</span> </div>
                    <div><b>@numcom</b><span class="ms-2 text-secondary">Comment</span> </div>
                </div>
            </div>
        </div>
    }

    @*real time links*@

    @section bottom_Link
        {
        <script src="~/Scripts/jquery.signalR-2.4.3.min.js"></script>
        <script src="~/Signalr/hubs"></script>
        <script>
            $(function () {
                var con = $.hubConnection();
                var proxy = con.createHubProxy("HubClass");
                con.start();
                proxy.on("NewPostAdded", function (NewPost) {
                    window.alert('new post add');
                    var con = `
                                <div class="timeline">
                                    <div class="photo-name">
                                        <img class="photo-profile" src="/Content/Images/doctor.jpg" alt="photo" />
                                        <div class="info">
                                            <a href="#"> <h2 class="info-nam">    </h2></a>
                                            <p class="info-dat">       </p>
                                        </div>
                                    </div>
                                    <pre class="news news-ar">

                                    </pre>
                                    <div class="line"></div>
                                    <div class="like-comment-p">
                                        <div class="like-comment">
                                            <div> <a href="#"><i class="fa-solid fa-thumbs-up me-2"></i></a>  <span class="text-secondary">Like</span></div>
                                            <div> <a href="#" class="comment-btn"><i class="fa-solid fa-message me-2"></i></a> <span class="text-secondary">Comment</span> </div>
                                        </div>
                                        <div class="number-like-comment">
                                            <div><b>250</b><span class="ms-2 text-secondary likes-span">Like</span> </div>
                                            <div><b>250</b><span class="ms-2 text-secondary">Comment</span> </div>
                                        </div>
                                    </div>
                                </div>
                               `
                    $('#ishere').prepend(con);
                    let num = Math.floor(Math.random() * 100000) + 1;
                    $(".news-ar").removeClass("news-ar").addClass("new" + num.toString());
                    let str1 = ".new" + num.toString();
                    $(str1).append(NewPost.ContentOfPost);
                    $(".info-dat").removeClass("info-dat").addClass("info-dat" + num.toString());
                    let str2 = ".info-dat" + num.toString();

                    const date = new Date(); 
                    const formattedDate = `${date.getDate()}/${date.getMonth() + 1}/${date.getFullYear()} ${date.getHours()}:${date.getMinutes()}:${date.getSeconds()}`;
                    $(str2).append(formattedDate);

                    $(".info-nam").removeClass("info-nam").addClass("info-nam" + num.toString());
                    let str3 = ".info-nam" + num.toString();
                    $(str3).append(NewPost.UserName);
        });
    });

        </script>
    }
</main>





