@using EduZone.Models
@using Microsoft.AspNet.Identity;
@using System.Linq;
@model List<Post>
<link href="~/Content/StyleSheet/time-line-for-dector.css" rel="stylesheet" />
@{
    ApplicationDbContext context = new ApplicationDbContext();
}
<main class="container my-3 pb-4">
        @using (Html.BeginForm("AddPost", "Educator", FormMethod.Post, new { @class = "mt-5" }))
        {
            <div class="timeline ">
                <div class="photo-name">
                    <img class="photo-profile" src="~/Content/Images/doctor.jpg" alt="doctor" />
                    <div class="info">
                        <h2 class="info-name">@User.Identity.Name</h2>
                    </div>
                </div>
                @Html.AntiForgeryToken()
                <textarea class="m-3" name="ContentOfPost" id="ContentOfPost" placeholder="Write new announcement...">Title: </textarea>
                <div class="line"></div>
                <div class="like-comment live-photo">
                    <div> <a href=""> <i class="fa-solid fa-video "></i>  <span class="text-secondary ms-2">Live class</span> </a>  </div>
                    <div> <a href=""> <i class="fa-solid fa-photo-film"></i> <span class="text-secondary ms-2">Photo/video</span> </a>   </div>
                    <button type="submit" class="btn btn-outline-success"> POST </button>
                </div>
            </div>
        }
        <div id="ishere">

        </div>
        @foreach (var item in Model)
        {
            <div class="timeline">
                <div class="photo-name">
                    <img class="photo-profile" src="~/Content/Images/doctor.jpg" alt="photo" />
                    <div class="info">
                        <a data-user-id=@item.UserId data-item-id=@item.Id href=""><h6 class="info-name">@item.UserName </h6></a>
                        <p class="info-date"> @item.Date </p>
                    </div>
                </div>
                <div data-user-id=@item.UserId data-item-id=@item.Id>
                    <pre class="news news-en">
                   @item.ContentOfPost
                </pre>
                </div>
                <div class="line"></div>
                <div class="like-comment-p">
                    <div class="like-comment">
                        @if (context.Likes.ToList().FirstOrDefault(id => id.UserID == User.Identity.GetUserId() && id.PostId == item.Id) != null)
                        {
                            <div style="cursor: pointer;">
                                <a  data-user-id="@User.Identity.GetUserId()" data-item-id="@item.Id" onclick="funlikeTime('@User.Identity.GetUserId()', @item.Id, true)">
                                    <i class="fa-solid fa-thumbs-up me-2 text-success" ></i>
                                    <span class="text-secondary">Like</span>
                                </a>
                            </div>

                        }
                        else
                        {
                            <div style="cursor: pointer;">
                                <a  data-user-id="@User.Identity.GetUserId()" data-item-id="@item.Id" onclick="funlikeTime('@User.Identity.GetUserId()', @item.Id, false)">
                                    <i class="fa-solid fa-thumbs-up me-2 text-secondary"></i>
                                    <span class="text-secondary">Like</span>
                                </a>
                            </div>
                        }
                        <div> <a href="@Url.Action("ShowCommentOfPost",new {item.Id})" class="comment-btn"><i class="fa-solid fa-message me-2 text-secondary"></i> <span class="text-secondary">Comment</span> </a></div>
                    </div>
                    <div class="number-like-comment">
                        @{
                            int numcom = context.Comments.Where(s => s.PostID == item.Id).Count();
                            int numLk = context.Likes.Where(p => p.PostId == item.Id).Count();
                        }
                        <div><b>@numLk</b><span class="ms-2 text-secondary likes-span">Like</span> </div>
                        <div data-user-id="@item.Id"><b class="conmt">@numcom</b><span class="ms-2 text-secondary">Comment</span> </div>
                    </div>
                </div>
            </div>
        }

        @*real time links*@

        @section bottom_Link
        {
            <script src="~/Scripts/jquery.signalR-2.4.3.min.js"></script>
            <script src="~/Signalr/hubs"></script>
            <script>
                let proxy;
                $(function () {
                    var con = $.hubConnection();
                    proxy = con.createHubProxy("HubClass");
                    con.start();
                    //add comment number in time line
                    proxy.on("NewCommentAdded", function (msg, usr, comid, numComents, postid) {
                        $("div[data-user-id='" + postid + "']").find("b").text(numComents);
                        // $(".comnt").text(numComents);
                    });
                    proxy.on("NewPostAdded", function (NewPost) {

                        var con = `
                                    <div class="timeline" >
                                        <div class="photo-name">
                                            <img class="photo-profile" src="/Content/Images/doctor.jpg" alt="photo" />
                                            <div class="info">
                                                <a data-user-id=${NewPost.UserId} data-item-id=${NewPost.Id} href=""><h6 class="info-name">     </h6></a>
                                                <p class="info-dt">       </p>
                                            </div>
                                        </div>
                                        <div  data-user-id=${NewPost.UserId} data-item-id=${NewPost.Id}>
                                            <pre class="news news-en">

                                            </pre>
                                        </div>
                                        <div class="line"></div>
                                        <div class="like-comment-p">
                                            <div class="like-comment">
                                                 <div style="cursor: pointer;">
                                                        <a data-user-id="@User.Identity.GetUserId()"  data-item-id="${NewPost.Id}" onclick="funlikeTime('@User.Identity.GetUserId()',${NewPost.Id}, false)">
                                                            <i class="fa-solid fa-thumbs-up me-2 text-secondary"></i>
                                                            <span class="text-secondary">Like</span>
                                                        </a>
                                                </div>


                                                <div> <a href="/Educator/ShowCommentOfPost?Id=${NewPost.Id}" class="comment-btn"><i class="fa-solid fa-message me-2 text-secondary"></i> <span class="text-secondary">Comment</span> </a> </div>


            </div>
                                            <div class="number-like-comment">
                                                <div><b>0</b><span class="ms-2 text-secondary likes-span">Like</span> </div>
                                              <div data-user-id="${NewPost.Id}"><b>0</b><span class="ms-2 text-secondary">Comment</span> </div>
   </div>
                                        </div>
                                    </div>
                                    `
                        $('#ishere').prepend(con);

                        //CONTENT
                        var contentPost = $("div[data-user-id='" + NewPost.UserId + "'][data-item-id='" + NewPost.Id + "']").find("pre.news");
                        contentPost.append(NewPost.ContentOfPost);

                        //USERNAME
                        var usrnm = $("a[data-user-id='" + NewPost.UserId + "'][data-item-id='" + NewPost.Id + "']").find("h6.info-name");
                        usrnm.append(NewPost.UserName);

                        //DATE
                        let num = Math.floor(Math.random() * 100000) + 1;
                        $(".info-dt").removeClass("info-dt").addClass("info-dt" + num.toString());
                        let str2 = ".info-dt" + num.toString();
                        const date = new Date();
                        const formattedDate = `${date.getDate()}/${date.getMonth() + 1}/${date.getFullYear()} ${date.getHours()}:${date.getMinutes()}:${date.getSeconds()}`;
                        $(str2).append(formattedDate);
                    });

                    // new like subscribtion
                    proxy.on("NewLikeAddedInTimeLine", function (uid, pid, clr) {
                        var icon = $("a[data-user-id='" + uid + "'][data-item-id='" + pid + "']").find("i.fa-thumbs-up");
                        icon.addClass("text-" + clr);
                        location.reload();
                    });
                });

                // call server method
                function funlikeTime(uid, pid, flag) {
                    proxy.invoke("AddlikeInTimeLine", uid, pid, flag);
                };

            </script>
        }
    </main>





