@using EduZone.Models
@using Microsoft.AspNet.Identity;
@using System.Linq;
@model List<Post>
<link href="~/Content/StyleSheet/time-line-for-dector.css" rel="stylesheet" />
@{
    ApplicationDbContext context = new ApplicationDbContext();
}
<main class="container my-3 pb-4">

    <div id="ishere">

    </div>
    @foreach (var item in Model)
    {
        <link href="~/Content/StyleSheet/time-line-for-dector.css" rel="stylesheet" />
        <div class="timeline">
            <div class="photo-name">
                <img class="photo-profile" src="~/Content/Images/doctor.jpg" alt="photo" />
                <div class="info">
                    <a data-user-id=@item.UserId data-item-id=@item.Id href=""><h6 class="info-name">@item.UserName </h6></a>
                    <p class="info-date"> @item.Date </p>
                </div>
            </div>
            <div data-user-id=@item.UserId data-item-id=@item.Id>
                <pre class="news news-en">
                   @item.ContentOfPost
                </pre>
            </div>
            <div class="line"></div>
            <div class="like-comment-p">
                <div class="like-comment">
                    @if (context.Likes.ToList().FirstOrDefault(id => id.UserID == User.Identity.GetUserId() && id.PostId == item.Id) != null)
                    {
                        <div style="cursor: pointer;">
                            <a data-user-id="@User.Identity.GetUserId()" data-item-id="@item.Id" onclick="funlikeTime('@User.Identity.GetUserId()', @item.Id, true)">
                                <i class="fa-solid fa-thumbs-up me-2 text-success"></i>
                                <span class="text-secondary">Like</span>
                            </a>
                        </div>

                    }
                    else
                    {
                        <div style="cursor: pointer;">
                            <a data-user-id="@User.Identity.GetUserId()" data-item-id="@item.Id" onclick="funlikeTime('@User.Identity.GetUserId()', @item.Id, false)">
                                <i class="fa-solid fa-thumbs-up me-2 text-secondary"></i>
                                <span class="text-secondary">Like</span>
                            </a>
                        </div>
                    }
                    <div> <a href="@Url.Action("ShowCommentOfPost",new {item.Id})" class="comment-btn"><i class="fa-solid fa-message me-2 text-secondary"></i> <span class="text-secondary">Comment</span> </a></div>
                </div>
                <div class="number-like-comment">
                    @{
                        int numcom = context.Comments.Where(s => s.PostID == item.Id).Count();
                        int numLk = context.Likes.Where(p => p.PostId == item.Id).Count();
                        //int numcom = item.Comments?.Count ?? 0;
                    }
                    <div><b>@numLk</b><span class="ms-2 text-secondary likes-span">Like</span> </div>
                    <div><b>@numcom</b><span class="ms-2 text-secondary">Comment</span> </div>
                </div>
            </div>
        </div>
    }

    @*real time links*@

    @section bottom_Link
        {
        <script src="~/Scripts/jquery.signalR-2.4.3.min.js"></script>
        <script src="~/Signalr/hubs"></script>
        <script>
                let proxy;
                $(function () {
                    var con = $.hubConnection();
                    proxy = con.createHubProxy("HubClass");
                    con.start();
                    proxy.on("NewPostAdded", function (NewPost) {

                        var con = `
                                    <div class="timeline">
                                        <div class="photo-name">
                                            <img class="photo-profile" src="/Content/Images/doctor.jpg" alt="photo" />
                                            <div class="info">
                                                <a data-user-id=${NewPost.UserId} data-item-id=${NewPost.Id} href=""><h6 class="info-name">     </h6></a>
                                                <p class="info-dt">       </p>
                                            </div>
                                        </div>
                                        <div  data-user-id=${NewPost.UserId} data-item-id=${NewPost.Id}>
                                            <pre class="news news-en">

                                            </pre>
                                        </div>
                                        <div class="line"></div>
                                        <div class="like-comment-p">
                                            <div class="like-comment">
                                                <div style="cursor: pointer;">
                                                        <a data-user-id="@User.Identity.GetUserId()"  data-item-id="${NewPost.Id}" onclick="funlikeTime('@User.Identity.GetUserId()',${NewPost.Id}, false)">
                                                            <i class="fa-solid fa-thumbs-up me-2 text-secondary"></i>
                                                            <span class="text-secondary">Like</span>
                                                        </a>
                                                </div>
                                                <div> <a href="#" class="comment-btn"><i class="fa-solid fa-message me-2 text-secondary"></i></a> <span class="text-secondary">Comment</span> </div>
                                            </div>
                                            <div class="number-like-comment">
                                                <div><b>0</b><span class="ms-2 text-secondary likes-span">Like</span> </div>
                                                <div><b>0</b><span class="ms-2 text-secondary">Comment</span> </div>
                                            </div>
                                        </div>
                                    </div>
                                    `
                        $('#ishere').prepend(con);

                        //CONTENT
                        var contentPost = $("div[data-user-id='" + NewPost.UserId + "'][data-item-id='" + NewPost.Id + "']").find("pre.news");
                        contentPost.append(NewPost.ContentOfPost);

                        //USERNAME
                        var usrnm = $("a[data-user-id='" + NewPost.UserId + "'][data-item-id='" + NewPost.Id + "']").find("h6.info-name");
                        usrnm.append(NewPost.UserName);

                        //DATE
                        let num = Math.floor(Math.random() * 100000) + 1;
                        $(".info-dt").removeClass("info-dt").addClass("info-dt" + num.toString());
                        let str2 = ".info-dt" + num.toString();
                        const date = new Date();
                        const formattedDate = `${date.getDate()}/${date.getMonth() + 1}/${date.getFullYear()} ${date.getHours()}:${date.getMinutes()}:${date.getSeconds()}`;
                        $(str2).append(formattedDate);
                    });

                    // new like subscribtion
                    proxy.on("NewLikeAddedInTimeLine", function (uid, pid, clr) {
                        var icon = $("a[data-user-id='" + uid + "'][data-item-id='" + pid + "']").find("i.fa-thumbs-up");
                        icon.addClass("text-" + clr);
                        location.reload();
                    });
                });

                // call server method
                function funlikeTime(uid, pid, flag) {
                    proxy.invoke("AddlikeInTimeLine", uid, pid, flag);
                };

        </script>
    }
</main>





