@model EduZone.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>



    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap"
          rel="stylesheet" />
    <!-- CSS Main File -->
    <link href="~/Content/StyleSheet/resetpass.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="overlay"></div>
        @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            @Html.HiddenFor(model => model.Code)
            <div class="right">
                <i class="fa-solid fa-key"></i>
                <h2>Forget Password?</h2>
                <h4>No worries, we'll send you reset instructions.</h4>
                <div class="inputbox">
                    <input type="email" name="Email" required />
                    <span>Enter Your E-mail</span>
                    <i></i>
                </div>
                <div class="inputbox">
                    <input required="required" type="password" name="Password" />
                    <span>New Password</span>
                    <i></i>
                </div>
                <div class="inputbox">
                    <input required="required" type="password" name="ConfirmPassword" />
                    <span>Confirm Password</span>
                    <i></i>
                </div>
            @Html.ValidationSummary("", new { @class = "text-danger"})
                <input type="submit"
                       value="Reset Password"
                       name="submit"
                       style="
              background-color: #14e31f;
              width: 304px;
              color: black;
              font-size: 20px;
              border-radius: 15px;
              outline: none;
              border-color: #14e31f;
              cursor: pointer;
              box-shadow: rgb(18 17 17) -1px 1px 7px;
              margin-bottom: 80px;
            " />
            </div>
        }
    </div>
</body>
</html>






@*

    <link href="~/Content/bootstrap.css" rel="stylesheet" />

    <div class="card text-center w-50 align-content-center" style=" font-family: 'Signika', sans-serif;margin-top:15vh;margin-left:25%">
        <div class="card-header h5 text-white bg-primary">Password Reset</div>

        @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal p-3", role = "form" }))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary("", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Code)
            <div class="form-floating mb-3">

                <label for="Email">Email</label>
            </div>
            <div class="form-floating mb-3">
                <label for="Password">Password</label>
            </div>
            <div class="form-floating mb-3">
                <label for="ConfirmPassword">Confirm Password</label>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10 ms-5">
                    <input type="submit" class="btn btn-success w-50 fw-bold " value="Reset" />
                </div>
            </div>
        }

    </div>

    *@

    @Scripts.Render("~/bundles/jqueryval")
